/* //Custom CSS for Select Tag */

.customSelect {
  margin: 20px 0;
  .css-g1d714-ValueContainer {
    cursor: pointer;
  }
  .css-9gakcf-option {
    cursor: pointer;
  }
  .css-1n7v3ny-option {
    cursor: pointer;
  }
  .css-tlfecz-indicatorContainer {
    cursor: pointer;
    color: #191919;
    &:hover {
      color: #191919;
    }
  }
  .css-yk16xz-control {
    &:focus {
      cursor: pointer;
    }
    &:hover {
      cursor: pointer;
    }
    cursor: pointer;
    border: 1px solid gray;
  }
}

