.flightStats {
  display: flex;
  align-items: center;
  padding: 20px 0;
  h3 {
    color: #444444;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
  .subInfo {
    color: #757575;
  }
  .imgWrapper {
    margin-right: 6px;
  }
  .planeIcon {
    transform: rotate(180deg);
  }
}
.itemList {
  border: 1px solid #575757;
  padding: 5px 8px;
}
.mainFlightListing {
  li {
    border: 1px solid #575757;
    padding: 20px 10px;
    justify-content: space-around;
  }
  > li {
    margin: 10px 0;
    width: 98%;
  }
  .price {
    color: #d07056;
  }
  .detailsAnchor {
    color: #6272e7;
  }
  .flightInfo {
    span {
      color: #575757;
    }
  }
}
.subFlightList {
  border-top: 1px solid #ccc;
  display: flex;
  width: 100%;
  order: 1;
  flex: 1 0 100%;
  margin: 10px 10px -20px -10px;
  ul {
    flex-wrap: wrap;
    width: 100%;
  }
  li {
    background: #f5f4f6;
    justify-content: flex-start;
    &:first-child {
      position: relative;
      border-bottom: 1.5px dotted #575757;
    }
    &:nth-child(2) {
      border-top: 1.5px dotted #575757;
    }
  }
  .planeImg {
    width: 64px;
    height: 64px;
  }
  .layOverTime {
    background: #fff;
    color: #575757;
    border: 2px dotted #575757;
    font-size: 16px;
    position: absolute;
    bottom: -18px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 170px;
    padding: 8px;
  }
}
